* {
    margin: 0;
    padding: 0;
}

/* ---------------- Navbar ----------------- */
.navbar-brand img {
    background-color: #fff;
    border-radius: 8%;
    margin: 10px;
    width: 125px;
}

.navbar-brand {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
/* }

.navbar {
    padding: 0;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.banner {
    padding-left: 60px;
    padding-right: 60px;
} */


/* ---------------- Hero Image ----------------- */

/* ---------------- About Section ----------------- */

/* ---------------- Forecast Section ----------------- */

/* ---------------- Contact Form ----------------- */

/* ---------------- Footer ----------------- */

/* ---------------- Media Queries ----------------- */
