* {
    margin: 0;
    padding: 0;
}

/* ---------------- Navbar ----------------- */
.navbar-brand img {
    background-color: #fff;
    border-radius: 8%;
    margin: 10px;
    width: 130px;
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    border: none;
    outline: none;
}


/* ---------------- Hero Image ----------------- */

.carousel-inner {
    max-height: auto;
}

.carousel-inner img {
    
}

/* ---------------- About Section ----------------- */

/* ---------------- Forecast Section ----------------- */

/* ---------------- Contact Form ----------------- */

/* ---------------- Footer ----------------- */

/* ---------------- Media Queries ----------------- */
@media (max-width: 992px) {
    
}


@media (max-width: 768px) {
    
}