* {
    margin: 0;
    padding: 0;
}

/* ---------------- Navbar ----------------- */
.navbar-brand {
    font-size: 1.8rem;
}

.navbar-brand img {
    height: 3rem;
    background-color: #fff;
    border-radius: 8%;
    margin-right: 1rem;
}

.navbar {
    font-size: 1.3rem;
    letter-spacing: .15rem;
}

.navbar-toggler {
    border: none;
    outline: none;
}


/* ---------------- Hero Image ----------------- */

.carousel-inner {
    max-height: 38rem!important;
}

.carousel-item.active,
.carousel-item {
    transition: transform 1.2s ease; 
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* ---------------- About Section ----------------- */

/* ---------------- Forecast Section ----------------- */

/* ---------------- Contact Form ----------------- */

/* ---------------- Footer ----------------- */

footer {
    background-color: #343A40;
    padding: 1rem 2rem 3rem;
}

footer img {
    height: 10rem;
    margin: 2rem auto;
}

footer p {
    color: #fff;
    padding-bottom: 0;
}

/* ---------------- Media Queries ----------------- */
@media (max-width: 992px) {
    
}


@media (max-width: 768px) {
    
}

@media (max-width: 425px) {
    .navbar-brand {
    font-size: 1rem;
}

.navbar-brand img {
    height: 1.5rem;
}
}